/* @import url("https://fonts.cdnfonts.com/css/coolvetica-2");
@import url("https://fonts.cdnfonts.com/css/switzer"); */

/* Variables */
:root {
  /* Design Variables */
  --test-color: red;

  /* Color - neutrals */
  --color-white-0: #ffffff;
  --color-black-400: #171717;

  /* Color - grey-scale */
  --color-grey-015: rgba(0, 0, 0, 0.15);
  --color-grey-08: rgba(0, 0, 0, 0.8);
  --color-grey-20: #fbfbfb;
  --color-grey-30: #f1f1f1;
  --color-grey-50: #eeeeee;
  --color-grey-100: #bebebe;
  --color-grey-300: #aaaaaa;
  --color-grey-400: #676767;

  /* Color - utalities */
  --color-violet-400: #7518cc;
  --color-slateblue-400: #283c4d;
  --color-milkgreen-400: rgb(4, 179, 123);

  /* --------------------- */
  /* --- DESIGN TOKENS --- */
  /* --------------------- */
  /* BACKGROUNDS */
  --bg-color-light: var(--color-grey-30);

  /* Colors - Utalities */
  --color-highlight: var(--color-violet-400);
  --color-highlight-grow: var(--color-milkgreen-400);

  /* TEXT */
  --text-color-dark: var(--color-black-400);
  --text-color-light: var(--color-grey-20);

  /* Footer Section */
  --footer-bg-color: var(--color-grey-50);
  --footer-divider-line: var(--color-grey-015);

  /* PROJECT SECTION */
  --project-divider-line: var(--color-grey-015);
  --project-footer-line: var(--color-grey-015);
  --project-cta-border: var(--color-black-400);
  --cta-color-hover: var(--color-violet-400);
}

body {
  overflow: auto;
  color: var(--text-color-black);
  background-color: var(--bg-color-white);
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  /* background-color: #f1f1f1;
  opacity: 0.8;
  background-image: radial-gradient(
    #898787 0.6000000000000001px,
    #f1f1f1 0.6000000000000001px
  );
  background-size: 12px 12px; */
}

/* Utalities */
.mt_200 {
  margin-top: 200px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* font-family: "HK Grotesk", sans-serif; */
  font-family: "Inter", sans-serif;
}

body a {
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "HK Grotesk", sans-serif;
  /* font-family: "Hack", sans-serif; */
  font-weight: 900;
  /* letter-spacing: -2.5px; */
}

body h1 span,
body h2 span,
body h3 span,
body h4 span {
  font-family: "HK Grotesk", sans-serif;
}

.footer h3 {
  letter-spacing: -1px;
}

body p {
  /* font-family: "HK Grotesk", sans-serif; */
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: -0.2px;
  line-height: 130%;
}

.bold_md {
  font-weight: 500;
}

.bold_bd {
  font-weight: 700;
}

.hero_cta_wrapper a {
  font-weight: 400;
  line-height: 130%;
}

/* lenis styles */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* utalities */

[data-hidden] {
  opacity: 0;
}

[data-animation="text-reveal"] {
  display: block;
  overflow: hidden;

  > * {
    display: block;
    line-height: 1;
    transform: translateY(120%);
  }
}

[data-animation="gif-reveal"] {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10rem;
  transform-origin: center;
  opacity: 0;
}

/* utalities */

.btn {
  padding-bottom: 10px;
  background-color: var(--text-color-dark);
  color: var(--bg-color-light);
  border: 1px solid red;
  padding: 1.2rem 1.8rem;
  border-radius: 100rem;
}

.section-divider {
  width: 100%;
  height: 100px;
}

.container {
  width: 84vw;
  margin: 0 auto;
}

.content_divider {
  width: 100%;
  height: 2.5em;
}

.content_divider_half {
  width: 100%;
  height: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.highlight_parent {
  position: relative;
}

.highlight_test {
  display: inline-block;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0.6rem;
  left: 0;
  background-color: var(--color-highlight-grow);
  opacity: 0.25;
  z-index: -100;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight:before,
.highlight:after {
  content: "";
  position: absolute;
  bottom: -15%; /* Adjust for desired distance below text */
  left: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(137, 43, 226, 0.17);
  z-index: -1;
}

.highlight_color {
  color: var(--color-highlight);
}

.highlight_color_gaw {
  color: var(--color-highlight-grow);
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex_col_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gap_2 {
  gap: 2rem;
}

.underline {
  text-decoration: underline;
  padding: 4px 0px;
}

.shadow_rg {
  box-shadow: 6px 8px 12px 0px #12121230;
}

.border_grey {
  border: 1.5px solid grey;
}

.two_col {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* End of Utalities */

.scroll {
  width: 100%;
  height: 100vh;
}

/* Grained.js */
#wrapper {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  position: absolute;
  z-index: -10;
}

/* intro */
.intro {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 100;
}

.mouse_wrapper {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  overflow: hidden;
}

.mouse {
  opacity: 0.6;
  margin: 0 auto;
  width: 32px;
  height: 56px;
  border: 2px solid #676767;
  border-radius: 60px;
  position: relative;
  transform: translateY(120%);
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7518cc;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 45px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 45px;
  }
}

#nav {
  position: static;
  left: 8%;
  /* background-color: rgb(117, 117, 248); */
  /* border: 1px solid grey; */
}

#nav div {
  overflow: hidden;
}

/* nav */
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

#nav img {
  z-index: 1000;
  box-shadow: none;
  position: relative;
  z-index: 1000;
  transform: translateY(70px);
}

#nav .icon_container .social_icon {
  width: 24px;
}

#nav .icon_container #resume_icon {
  width: 100%;
  height: 24px;
  margin-right: 0rem;
}

#nav #brand_logo {
  /* width: 40px; */
  width: 100%;
}

.icon_container {
  display: flex;
  gap: 1rem;
}

.intro__text {
  width: 45vw;
  margin: 0 auto;
  margin-top: 6vh;
  position: relative;
  z-index: 10;
}

.title_gif-wrapper {
  display: flex;
  justify-content: left;
  position: relative;
  /* background-color: azure; */
  display: inline-block;
  cursor: pointer;
}

.intro__title {
  margin-bottom: 0rem;
  position: relative;
}

#sub_title {
  font-size: 4rem;
  line-height: 110%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#coffee_icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.intro__title span {
  font-size: 13rem;
  color: var(--text-color-black);
  letter-spacing: -4.5px;
  line-height: 120%;
}

.intro__sub-title p {
  width: 32ch;
  font-size: 1.4rem;
  line-height: 130%;
  margin-left: auto;
  margin-top: 3rem;
}

/* images */
.intro img {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Setting up widths */
.intro__images img:nth-child(1) {
  width: 16%;
  height: auto;
  transform: scale(1);
  will-change: transform;
}

.intro__images img:nth-child(2) {
  width: 25%;
  height: auto;
  transform: scale(1);
  will-change: transform;
  box-shadow: none;
}

.intro__images img:nth-child(3) {
  width: 16%;
  height: auto;
  transform: scale(1);
  will-change: transform;
}

/* FINAL Position */
.intro__images img:nth-child(1) {
  top: 13vh;
  right: -4vw;
  /* transform-origin: center center; */
}

.intro__images img:nth-child(2) {
  top: 62vh;
  left: -1vw;
  /* transform-origin: center center; */
}

.intro__images img:nth-child(3) {
  top: 64vh;
  left: 65.5vw;
  /* transform-origin: center center; */
}

.april_title {
  position: absolute;
  bottom: 0;
}

/* Initial Position */
.intro__images.initial img {
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

/* Full width Images */
.fullwidth-image {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullwidth-image img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* transform: translateY(-20%); */
}

.fullwidth-image__overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}

.fullwidth-image__text {
  position: relative;
  top: 0;
  left: 0%;
  z-index: 10;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullwidth-image__text h2 {
  display: inline-block;
  margin: 0 auto;
}

.fullwidth-image h2 {
  font-size: 7.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: -2px;
}

/* Projects */
.projects_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin: 13rem 0rem;
}

.project__container {
  width: 84vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project__details {
  width: 39.9%;
  height: 100%;
  /* display: inline-block; */
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.project__details > div {
  overflow: hidden;
}

.project__details h1 {
  font-size: 4.6rem;
  margin-bottom: 20px;
  color: var(--text-color-black);
}
.project__details h2 {
  font-size: 8.2rem;
  position: absolute;
  bottom: -2.1rem;
  left: -28px;
  transform: rotateZ(-90deg);
  letter-spacing: -8px;
}

.divider-line {
  width: 42%;
  height: 2px;
  background-color: var(--project-divider-line);
  margin: 40px 0px;
}

.project__details h3,
.project__details p {
  font-size: 1.1rem;
  max-width: 36ch;
}

.project_cta_container {
  display: flex;
  /* border: 1px solid red; */
  align-items: end;
}

.project__cta-wrapper {
  width: auto;
  height: auto;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 0rem;
  margin-top: 40px;
  cursor: pointer;
}

.project__cta {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: 130%;
  font-size: 1.1rem;
  color: var(--color-violet-400);
  padding: 0.7rem 0rem;
  position: relative;
  border-radius: 300px;
  overflow: hidden;
  border: 2px solid var(--color-violet-400);
}

.cta_text {
  margin: 0rem 2rem;
  color: var(--color-violet-400);
}

.cta_fill {
  background: #daeaf6;
  width: 110%;
  height: 110%;
  position: absolute;
  top: 0;
  z-index: -3;
  padding: -1.2rem;
  transform: translateY(110px);
}

.project_cta_icon {
  /* border: 1px solid black; */
  margin-bottom: -6.5px;
}

.project_cta_line {
  height: 2px;
  background-color: var(--project-cta-border);
  transform: translateY(70px);
  opacity: 0;
}

/* .project__cta::after {
  content: attr(data-text);
} */

.footer-line {
  width: 80%;
  height: 5px;
  background-color: var(--project-footer-line);
  position: absolute;
  bottom: 0;
  left: 8.5rem;
}

.project__image {
  width: 90vh;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.project__image img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 100% 0%; */
  /* object-position: center; */
}

/* Footer */
.footer .container {
  padding: 6rem 0rem;
  /* height: 90vh; */
  position: relative;
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer__header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.footer__img-wrapper {
  width: 20vw;
  overflow: hidden;
  display: inline-block;
  /* border-radius: 100%; */
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.footer_text {
  width: 60%;
}

.footer__header img {
  width: 100%;
  object-fit: cover;
}

.footer__header h2 {
  /* font-family: "Coolvetica"; */
  font-weight: 300;
  font-size: 3.3rem;
}

.about_title {
  letter-spacing: -0.1rem;
}

.footer__divider-line {
  width: 100%;
  height: 4px;
  background-color: var(--footer-divider-line);
  margin: 4rem 0rem;
}

/* Footer details wrapper */
.footer__details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

/* Footer Left Column */
.footer__details-resume {
  width: 42%;
}

.footer__resume-link {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  color: var(--text-color-black);
  margin-top: 2rem;
}

.footer__resume-link a {
  text-decoration: none;
  margin-left: 0.3rem;
  color: var(--text-color-black);
}

.feather-arrow-up-right {
  width: 24px;
  height: 24px;
  margin-top: 1.8px;
  stroke-width: 2.5px;
}

/* Footer detials (Right column) */
.footer__details-links {
  width: 45%;
}

.footer__details-links p {
  width: 46ch;
}

.footer__details__links-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
}

.footer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-link a {
  color: var(--text-color-black);
}

.footer-link svg {
  stroke-width: 2.5px;
}

/* Fab icon */
.fab-icon-wrapper {
  position: absolute;
  right: 4rem;
  bottom: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.fab-icon-wrapper a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-color-black);
}

.fab-icon-wrapper svg {
  stroke-width: 1px;
}

.link {
  border-bottom: 1px solid var(--text-color-dark);
  border-bottom-width: 0px;
}

/* footer */
.footer_attributes {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  /* margin-top: 80px; */
  padding: 20px;
  /* background-color: red; */
}

.proto_button {
  opacity: 1;
}

.proto_button:hover {
  opacity: 0.7;
}
