:root {
  /* Design Variables */
  --test-color: red;

  /* Color - neutrals */
  --color-white-0: #ffffff;
  --color-black-400: #171717;

  /* Color - grey-scale */
  --color-grey-015: rgba(0, 0, 0, 0.15);
  --color-grey-08: rgba(0, 0, 0, 0.8);
  --color-grey-20: #fbfbfb;
  --color-grey-30: #f1f1f1;
  --color-grey-50: #eeeeee;
  --color-grey-100: #bebebe;
  --color-grey-300: #aaaaaa;
  --color-grey-400: #676767;

  /* Color - utalities */
  --color-violet-400: rgb(117, 24, 204);
  --color-slateblue-400: #283c4d;

  /* --------------------- */
  /* --- DESIGN TOKENS --- */
  /* --------------------- */
  /* BACKGROUNDS */
  --bg-color-light: var(--color-grey-30);

  /* Colors - Utalities */
  --color-highlight: var(--color-violet-400);

  /* TEXT */
  --text-color-dark: var(--color-black-400);
  --text-color-light: var(--color-grey-20);

  /* Footer Section */
  --footer-bg-color: var(--color-grey-50);
  --footer-divider-line: var(--color-grey-015);

  /* PROJECT SECTION */
  --project-divider-line: var(--color-grey-015);
  --project-footer-line: var(--color-grey-015);
  --project-cta-border: var(--color-black-400);
  --cta-color-hover: var(--color-violet-400);
}
