/* @font-face {
  font-family: "Coolvetica";
  src: url(../../public/assets/fonts/Coolvetica/CoolveticaRg-Regular.woff2)
      format("woff2"),
    url(../../public/assets/fonts/Coolvetica/CoolveticaRg-Regular.woff)
      format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Coolvetica";
  src: url(../../public/assets/fonts/Coolvetica/CoolveticaRg-Bold.woff2)
      format("woff2"),
    url(../../public/assets/fonts/Coolvetica/CoolveticaRg-Bold.woff)
      format("woff");
  font-weight: 700;
} */
