.hero_img {
  width: 100%;
  object-fit: fill;
  object-position: 0% 6.3%;
}

.grid_image {
  width: 50%;
}

.grid_img {
  width: 100%;
}

.grid_image_wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.mockup_wrapper {
  width: 100%;
  height: 150vh;
}

.mockup_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
