/* .key_insight_desk {
  width: 100%;
  margin-top: 3rem;
} */

.key_insight_desk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key_insight_desk img {
  width: 65%;
}

.key_insight p span {
  font-weight: 800;
}

.key_solution {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* border: 1px solid red; */
}

.key_solution img {
  width: 109%;
  display: inline-block;
  object-fit: cover;
  /* width: 300px; */
  /* border: 1px solid blue; */
}

/* Design Exploration */
.para_starter p {
  margin-top: 0.6rem;
}

.design_varients {
  width: 100%;
}

.design_varients img {
  width: 100%;
}

.design_improve_img {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 0rem;
}

.design_improve_img img {
  width: 70%;
}

/* lottie icon */
.lottie_icon {
  margin-bottom: 1.5rem;
  width: 150px;
  height: 150px;
}

.lottie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0rem;
  gap: 2rem;
}

.lottie_wrapper {
  width: 30%;
  /* border: 1px solid blue; */
}

.lottie_title {
  font-size: 1rem;
}
